html {
    /* Changed font size or root element */
    font-size: 24px;
    /* rem, em */
}


th {
    padding-inline: 20px;
}

td {
    text-align: center;
}

table {
    border-collapse: collapse;
}

thead>tr {
    margin: 0;
}

thead > tr {
    background-color: bisque;
}

tr:nth-child(2n){
    background-color: #49c0fd;
}

tr:nth-child(2n-1){
    background-color:  #556bfa;
}